@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
/* =========== Browser Reset ============ */
:root {
  /* Color Variables */
  --primary: #ffc400;
  --text-1: #0f2341;
  --text-2: #a9a9a9;
  --white: #fff;
  --shadow-300: 0 5px 5px rgba(0, 0, 0, 0.3);
  --shadow-500: 0 5px 5px rgba(0, 0, 0, 0.5);
  --transition-300: all 300ms ease-in-out;
  --transition-500: all 500ms ease-in-out;
}



a {
  text-decoration: none;
}

li {
  list-style: none;
}

    /* =========== Footer ============ */
.footer {
  height: 255px;
  background-color: var(--text-1); 
}

.footer .row {
  margin-left: -80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 10px;
}

.footer .row .col:last-child {
  display: grid;
  grid-template-columns: repeat(2, minmax(10rem, 1fr));
  gap: 2rem;
}

.footer .row .col:last-child img {
  height: 90px;
  width: 150px;
}

.footer .row .col {
  display: flex;
  flex-direction: column;
}

.footer .row .col h3 {
  font-size: 19px;
  color: var(--white);
  margin-bottom: 2rem;
}

.footer .row .col a {
  display: inline-block;
  color: var(--white);
  font-size: 15px;
  margin-bottom: 0.5rem;
}
.footer .row .col .social  i{
  font-size: 25px;
}
@media (max-width: 767px) {
  .footer .row {
    row-gap: 7rem;
    grid-template-columns: repeat(2, 1fr);
  }
  
}

@media (max-width: 567px) {

  #b, #c{
    display: none;
  }
  #a{
   margin-left: 180px;
  }
}
/* @media screen and (max-width: 576px) {
#header{
  display: none;
}
#font{
  margin-left: 60px;
}
  } */